<div class="row w-100 h-75 d-flex">
  <form class="summarize-window col w-50 mt-5 " [formGroup]="summaryForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" formControlName="session_name" id="name">
    </div>

    <!-- Input Method Toggle -->
    <div class="mb-3">
      <p>Select Input Method:</p>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn"
          [class.btn-outline-primary]="selectedInputMethod !== 'file'"
          [class.btn-primary]="selectedInputMethod === 'file'"
          (click)="selectInputMethod('file')"
        >
          File Input
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-outline-primary]="selectedInputMethod !== 'text'"
          [class.btn-primary]="selectedInputMethod === 'text'"
          (click)="selectInputMethod('text')"
        >
          Text Input
        </button>
      </div>
    </div>

    <div class="mb-3" *ngIf="selectedInputMethod === 'file'">
      <label for="fileInput" class="form-label">Upload File:</label>
      <input type="file" class="form-control" id="fileInput" (change)="onFileChange($event)">
    </div>

    <div class="mb-3" *ngIf="selectedInputMethod === 'text'">
      <label for="userInput" class="form-label">To summarize:</label>
      <textarea class="form-control" formControlName="input_text" id="userInput" rows="10"></textarea>
    </div>

    <div class="mb-3">
      <label for="language" class="form-label">Language:</label>
      <select class="form-select" id="language" formControlName="language">
        <option selected value="English">English</option>
        <option value="French">French</option>
        <option value="Spanish">Spanish</option>
        <option value="Hindi">Hindi</option>
        <option value="Arabic">Arabic</option>
        <option value="Russian">Russian</option>
        <option value="Ukrainian">Ukrainian</option>
        <option value="Chinese">Chinese</option>
      </select>
    </div>

    <div class="mb-3">
      <p>Difficulty Level:</p>
      <div class="btn-group">
        <button
          type="button"
          class="btn"
          [class.btn-outline-primary]="selectedDifficulty !== 'Beginner'"
          [class.btn-primary]="selectedDifficulty === 'Beginner'"
          (click)="selectDifficulty('Beginner')"
        >
          Beginner
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-outline-primary]="selectedDifficulty !== 'Intermediate'"
          [class.btn-primary]="selectedDifficulty === 'Intermediate'"
          (click)="selectDifficulty('Intermediate')"
        >
          Intermediate
        </button>
        <button
          type="button"
          class="btn"
          [class.btn-outline-primary]="selectedDifficulty !== 'Professional'"
          [class.btn-primary]="selectedDifficulty === 'Professional'"
          (click)="selectDifficulty('Professional')"
        >
          Professional
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Summarize!</button>
    <p *ngIf="error" class="alert alert-danger mt-3 text-center error">{{error}}</p>
  </form>
  <div class="summary-output w-50 mt-5">
    <p>Summary:</p>
    <p class="border summary-output  p-3">
      Your summary will be here!
    </p>
  </div>
</div>
