.summary-output {
  min-height: 50vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  animation: fadeIn 0.5s ease-in-out;
}
