<div class="row w-100 h-75">
  <div class="summarize-window col w-50 mt-3 ">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" value="{{summary?.name}}">
    </div>
    <div class=" mb-3">
      <label for="userInput" class="form-label">To summarize:</label>
      <textarea type="textarea" class="form-control" id="userInput" rows="10"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Update Summary!</button>
  </div>
  <div class="summary-output border w-50 mt-3">
    <p>
      {{summary?.content}}
    </p>
  </div>
</div>
